*~
\#*

*.o
*.lo

/autom4te.cache/
/ebfont/.libs/
/ebinfo/.libs/
/ebrefile/.libs/
/ebstopcode/.libs/
/ebzip/.libs/
/Makefile
/config.h
/config.log
/config.status
/doc/*.html
/doc/Makefile
/eb.conf
/eb/.deps/
/eb/.libs/
/eb/Makefile
/eb/build-post.h
/eb/libeb.la
/eb/stamp-build-post-h
/eb/stamp-sysdefs-h
/eb/sysdefs.h
/ebappendix/Makefile
/ebappendix/ebappendix
/ebfont/.deps/
/ebfont/Makefile
/ebfont/ebfont
/ebinfo/.deps/
/ebinfo/Makefile
/ebinfo/ebinfo
/ebrefile/.deps/
/ebrefile/Makefile
/ebrefile/ebrefile
/ebstopcode/.deps/
/ebstopcode/Makefile
/ebstopcode/ebstopcode
/ebzip/.deps/
/ebzip/Makefile
/ebzip/ebzip
/libebutils/.deps/
/libebutils/Makefile
/libebutils/ebutils.h
/libebutils/libebutils.a
/libebutils/stamp-ebutils-h
/libtool
/m4/Makefile
/po-eb/Makefile
/po-ebutils/Makefile
/samples/.deps/
/samples/Makefile
/stamp-h1
